[submodule "modules/linux"]
	path = modules/linux
	url = https://github.com/rraafays/linux.nix
[submodule "modules/environment"]
	path = modules/environment
	url = https://github.com/rraafays/environment.nix
[submodule "modules/home"]
	path = modules/home
	url = https://github.com/rraafays/home.nix
[submodule "modules/hyprland"]
	path = modules/hyprland
	url = https://github.com/rraafays/hyprland.nix
[submodule "modules/firefox"]
	path = modules/firefox
	url = https://github.com/rraafays/firefox.nix
[submodule "modules/fonts"]
	path = modules/fonts
	url = https://github.com/rraafays/fonts.nix
[submodule "modules/formatters"]
	path = modules/formatters
	url = https://github.com/rraafays/formatters.nix
[submodule "modules/egpu"]
	path = modules/egpu
	url = https://github.com/rraafays/egpu.nix
[submodule "modules/steam"]
	path = modules/steam
	url = https://github.com/rraafays/steam.nix
[submodule "modules/plasma"]
	path = modules/plasma
	url = https://github.com/rraafays/plasma.nix
[submodule "modules/virtualisation"]
	path = modules/virtualisation
	url = https://github.com/rraafays/virtualisation.nix
[submodule "modules/nix"]
	path = modules/nix
	url = https://github.com/rraafays/nix.nix
